header, footer, body {
  font-family: Arial, Helvetica, sans-serif;
}

.pokemon-card {
  border: 5px solid #ffdb4d;
  background: lightblue;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.pokemon-image img {
  border: 5px solid grey;
  background-color: white;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.pokemon-id-name{
  padding: 3%;
}

.pokemon-details {
  margin-top: 12px;
  text-align: center;
}

.pokemon-stats-column{
  margin-left: 20px;
}

.pokemon-type{
  padding: 3%;
}

.stats-container {
  margin-top: 3%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-buttons {
  margin-bottom: 16px;
}

.language-buttons button {
  padding: 10px 20px; 
  margin-right: 10px; 
  font-size: 16px; 
  background-color: grey;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-buttons button:hover {
  color: black;
  background-color: #ffdb4d;
}

.language-buttons {
  margin-bottom: 20px;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

body{
  background-color: lightgray;
}